<h1> This is the show page </h1>
<h2> <%= @article.title %> </h2>
<p> <%= @article.body %> </p>

<p> <%= @article.created_at %> </p>
<p>
<%= link_to "Edit", edit_article_path(@article) %> ::
<%= link_to "Delete", @article, :confirm => "Are you sure?", :method => :delete %>
</p>
